<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <p class="message">
            <%= message%>
        </p>
        <form action="/forgot-password" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <button type="submit">Submit</button>
        </form>
        <br>
        <p>Remembered Your Password? <a href="/login" class="login-link">Log In</a>Now!</p>
    </div>
</body>
</html>